<div id="<%= dom_id comment %>" >
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= comment.user.name %></h5>
      <p class="card-text"><%= comment.text %></p>
    </div>
  </div>
</div><br>