<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%event_id = params[:event_id]%>
      <%= link_to "Show this comment", event_comment_url(event_id) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_comment_path %>
